.drawnnumberContainer{
    width: 100%;
    max-height:80vh;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px var(--text-color);
    display: flex;
    flex-direction: column;
}
.numberCube{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin: 10px;
    display: grid;
    grid-template-columns:repeat(2,1fr);
    color: var(--fourth);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    z-index: 0;
    border: 2 solid var(--fourth);
}
.numberCube::before {
    content: '';
    display: block;
    position: absolute;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: transparent; 
    color: var(--text-color);
}
.numberCube::after {
    content: '';
    display: block;
    position: absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: 2px solid var(--secondory-color); 
}
.numberCube span{
    z-index: 1;
}

.prevno{
    background-color: var(--third-color);
    color: var(--text-color);
    font-size: 100px;
    box-shadow: 0px 0px 7px var(--text-color) inset;
}

.nextnumber button{
    background: none;
    width: 60%;
    padding: 10px 0;
    border: 1px solid var(--secondory-color);
    transition: box-shadow 0.1s linear;

}
.nextnumber button:hover{
    box-shadow:  0 0 5px var(--secondory-color) ;
}

@media  only screen and (max-width:480px) {
    .prevno{
        font-size: 30px;
        box-shadow: 0px 0px 7px var(--text-color) inset;
    }
    .numberCube{
        width: 30px;
        height: 30px;
        border-radius: 15px;
        margin: 5px;
    }
  }
  @media  only screen and (min-width:480px) and (max-width:1200px) {
    .prevno{
        font-size: 50px;
        box-shadow: 0px 0px 7px var(--text-color) inset;
    } 
    .numberCube{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 5px;
    }
   
  }