:root{
  --primary-color:rgb(226,183,20);
  --secondory-color:rgb(50,52,55);
  --third-color:rgb(44,46,49);
  --fourth:#646669;
  --text-color:#d1d0c5;

/* Overriden Tooltip styles */
  --rt-color-white: #fff;
  --rt-color-dark: #222;
  --rt-color-success: #8dc572;
  --rt-color-error: #be6464;
  --rt-color-warning: #f0ad4e;
  --rt-color-info: #337ab7;
  --rt-opacity: 1;
  --rt-transition-show-delay: 0.15s;
  --rt-transition-closing-delay: 0.15s;
}
@font-face {
  font-family: 'Robo Regular';
  src: url('/public/font/Robo/RobotoMono-Regular.ttf');
}

@font-face {
  font-family: 'Clock';
  src: url('/public/font/Clock/RADIOLANDSLIM.ttf');
}

body{
  display: block;
  margin: 0;
  padding: 0;
  height: auto;
  font-family: 'Robo Regular', sans-serif;
}
.navbarContainer{
  display: flex;
  width: 100%;
  height: 7vh;
  background-color: var(--primary-color);
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-family: 'Robo Regular';
}
.navbarContainer span{
  font-size: 14px;
}

.navbarContainer button{
  height: 30px;
  border: none;
  font-size: 14px;
  transition: all 0.3s;
  width: 100px;
  overflow: hidden;
  border-radius: 8px;
}
.navbarContainer button:hover{
  color: var(--text-color);
}
.App{
  min-height: 100vh;
  background-color: var(--secondory-color);
}
.App > div .displayBoard{
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.App > div .displayBoard > span{
  font-size: 50px;
  text-align: center;
  color: var(--text-color);
}
.bingoBoard{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0% 5%;
  min-height: 70vh;
}
.bingoBoard>div{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(9,2fr);
  gap: 10px;
  grid-row: auto;
}

.bingoItem{
  position: relative;
  cursor: pointer;
  width: 60px;
  border-radius: 30px;
  background-color:var(--third-color);
  color: var(--fourth);
  border: 0.5px solid var(--fourth);
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  transition: all 0.2s ;
  background: transparent;
}

.bingoItem:hover{
  transform: scale(1);
  box-shadow: 0px 0px 3px 1px var(--text-color);
}
.numberDrawned{
  z-index: 2;
  color: var(--secondory-color);
  transform: scale(1.1);
}
.numberDrawned::before{
  position: absolute;
  content: '';
  width: 50px;
  border-radius: 25px;
  z-index: -1;
  aspect-ratio: 1;
  animation: drawn 1s ease;
  background-color: var(--primary-color);
}

@keyframes drawn {
  0%{
    transform:  scale(0);
  }
  100%{
    transform:  scale(1);
  }
}
.timer{
  height: 6px;
  background: linear-gradient(to right,var(--secondory-color),var(--primary-color));
  transition: width 1s linear 0s;
}
.start{
  background-color: var(--secondory-color);
  color:var(--text-color);
}
.stop{
  background-color: var(--third-color);
  color:var(--fourth);
  box-shadow: 0px 0px 3px var(--primary-color) inset;
}

#game-info{
  opacity: 1;
}
#game-info span{
  display: block;
  font-size: 14px;
  word-wrap: break-word;
}
#game-info u{
  color: var(--primary-color);
}

.site-information{
  font-family: 'Robo Regular';
  color: var(--text-color);
  font-size: .7rem;
  line-height: 2;
}
.site-information span{
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.2s linear;
}
.site-information span:hover{
  opacity: 1;
}

.custom-alert{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 96, 96, 0.9);
  font-family: 'Robo Regular';
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s linear;
}
.custom-alert.show-alert{
  visibility: visible;
  opacity: 1;
  z-index: 30;

}
.custom-alert.hide-alert{
  visibility: hidden;
  opacity: 0;
  z-index: -10;
}
.custom-alert > div{
  position: relative;
  top: -10vh;
  width: 100%;
  transition: all 0.3s 0.2s linear;
}
.show-alert > div{
  position: relative;
  top: 10vh;
}


@keyframes shake {
  0%{
    transform: translateX(-3px);
  }
  25%{
    transform: translateX(3px);
  }
  50%{
    transform: translateX(-3px);
  }
  75%{
    transform: translateX(3px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes boom-show {
  0%{
    transform: scale(0.99);
  }
  50%{
    transform: scale(1);
  }
  100%{
    transform: scale(0.99);
  }
}

.hide-alert > div{
  position: relative;
  top: -10vh;
}


.custom-alert  span{
  position: absolute;
  min-width: 100px;
  height: auto;
  background-color: var(--primary-color);
  padding: 10px 30px;
  text-align: center;
  color: var(--text-color);
  cursor: pointer;
  border-radius: 4px;
  z-index: 21;
}
.custom-alert .message-box{
  color: var(--secondory-color);
}

.custom-alert  .close-icon{
  position: absolute;
  height: auto;
  width: 30px;
  height: 30px;
  padding: 4px;
  font-size: 24px;
  z-index: 20;
  top:0;
  cursor: pointer;
  background-color: var(--primary-color);
  transition: all 0.3s linear;
  transform: scale(0);
  border-radius: 20px;
  animation: 0.8s ease-in-out infinite 0s foof;
}



@keyframes foof {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.9);
  }
  100%{
    transform: scale(1);
  }
}

.footer-cont{
  display: flex;
  align-items: flex-end;
  padding: 0px 10px;
  color: var(--text-color);
}
.footer-cont a{
  text-decoration: none;
  color: inherit;
  opacity: 0.3;
  margin: 0px 20px;
}

.footer-cont a:hover{
  opacity: 1;
}

.ticket-container{
  position: relative;
  width: 100%;
  height:90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ticket-container .ticket-cell{
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  border: 1px solid white;
  color: var(--text-color);
  cursor: pointer;
}
.ticket-container .ticket-slider{
  position: absolute;
  width: 100px;
  display: flex;
  justify-content: space-between;
  top: 10vh;
}
.ticket{
  position: relative;
}
.ticket-slider-item{
  width: 10px;
  aspect-ratio: 1;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  border: 1px solid var(--text-color);
}
.ticket-slider-item.active-item{
  border: 2px solid var(--primary-color);
  transform: scale(1.4);
}
.ticket-slider-item:hover{
  transform: scale(1.4);
}

.ticket-cell::before,.ticket-cell::after{
  position: absolute;
  content: '';
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}
.ticket-cell::after{
  transition: all 0.3s ease-in-out 0.3s;
}
.crossed::before{
  width: 100%;
  transform: rotateZ(45deg) translate(0%, 50%) ;
}
.crossed::after{
  width: 100%;
  transform:translate(0%, 50%)  rotateZ(-45deg);
}

@media  only screen and (max-width:400px) {
  .App{
    font-size: 12px;
  }
  .ticket-container .ticket-cell{
    width: 30px;
  }
  .ticket-slider-item{
    width: 6px;
    border-radius: 3px;
    border: 0.5px solid var(--text-color);
  }
  .ticket-slider-item.active-item{
    border: 1px solid var(--primary-color);
    transform: scale(1.4);
  }
}